.container-main-bg {
    background-color: #cce5ff;
    margin: 3rem 0 0 0;
    padding: 2rem;
}

.container-sub-bg {
    display: flex;
    flex-direction: row;
}

.side-menu {

    height: 50vh;
    width: 30vw;

}
.side-menu-bg {
    overflow-y: auto;
}
.videos-main-bg {
    height: 100%;
    width: 80vw;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.video-sub-bg {
    height: 100%;
   
}