/* html starts here */
html{
    scroll-behavior: smooth;
}
/* html ends here */
/*-------------Navbar starting -----------*/


.navbar {
    opacity: 1;
    box-shadow: 0px 0px 10px #000;
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;

}

@media (min-width:991px) {
    .navbar {
        padding: 0rem 9rem !important;

    }
}

@media (max-width:990px) {
    .navbar {
        border: unset;

    }
}

.logo-bg {
    font-family: 'Brush Script MT', cursive;
    color: #d3c9c9 !important;

}

@media (max-width:990px) {
    .logo-bg {
        font-size: 32px;
        font-weight: bold;
    }
}

@media (min-width:991px) {
    .logo-bg {
        font-size: 42px;

    }
}

.logo {
    height: 10px;
    padding: 0 !important;
    filter: drop-shadow(0px 0px 20px 20px #e8e4e4);

}

.navbar-nav {
    gap: 20px;
    font-family: "Twklausanne 150", sans-serif;
    font-family: "myFirstFont" !important;
    font-weight: bold;
    color: #fff !important;
}

@media (max-width:990px) {
    .navbar-nav {
        height: 100vh;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 51px;
        top: 0;

    }
}

.nav-link {
    cursor: pointer;
    transform: all 1s;
    font-size: 18px;
}

.nav-link:hover {
    border-radius: 5px;
    color: #d3c9c9 !important;
    font-size: 700;
    transition: all 0.3s ease-in-out;

}


.nav-button {
    position: relative;
    overflow: hidden;
    color: #d3c9c9 !important;

}

.nav-button:active {
    transform: scale(0.96);
}

.nav-button::after {
    content: "";
    display: block;
    height: 3px;
    width: 100%;
    background-color: #d3c9c9;
    transform: scalex(0);
    transform-origin: left;
    transition: transform 0.3s ease;
    color: #93dada;
}

.nav-button:hover::after {
    transform: scalex(1);
    border-collapse: collapse;
}


.dropdown-menu {
    background-color: #d3c9c95f !important;
    box-shadow: 0 5px 5px 1px #929AAB;
    border: 1px solid #fff !important;
}

/*----------------------- Navbar ending --------------------------*/
.portfolio-bg-container {
    background: #f9f4f4;
    height: 100%;
}

/*------------------------------------- Landing Page started here --------------------*/
.landing-page-main-bg-container {
    height: 100vh;
    background: #f9f4f4;
    display: flex;
    align-items: center;
    background: url("https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;   
     background-attachment: fixed;

}

.name-text-bg-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 0 10px #000000e8;
    border-radius: 25px;
    background-color: #ece7e16c;
    
}
.name-text-bg-container:hover {
    box-shadow: 0px 0px 10px ;
    filter: drop-shadow(0 0 10px #00000050);
}
@media screen and (max-width: 768px) {
    .tag-line-text {
        font-size: 16px;
    }
}
@media (min-width: 769px) {
    .name-text-bg-container{ 
        align-items: start;
        gap: 5px;
        padding: 30px 20px ;
    }
    .tag-line-text {
        font-size: 26px;
    }
}
@media (min-width:991px) {
    .name-text-bg-container {
        align-items: start;
        padding-left: 4rem;
        
    }
    .tag-line-text {
        font-size: 35px;
    }

}


.small-text {
    font-size: 25px;
    font-style: oblique;
    padding: 5px 15px;

}



.name-text {
    font-size: 30px;
    font-style: initial;
    padding: 5px 15px;
}

.tag-line-text {    
    font-weight: bold;
    font-family: 'Courier New';
    font-family: myFirstFont !important;
    padding: 5px 15px;
}


.landing-page-buttons-bg {
    display: flex;
    gap: 5px;
}

.social-media-icons-bg-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: row !important;
    justify-content: center;
    align-items: center;


}

@media (max-width: 767px) {
    .social-media-icons-bg-container {
        flex-direction: row;
        margin: 10% 0;
    }
}

@media (min-width: 768px) {
    .social-media-icons-bg-container {
        flex-direction: column;
        align-items: center;
    }
}

.icon-bg-container {
    padding: 15px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 1s;
    background-color: rgba(255, 253, 253, 0.552);
    transition: 1.5s all;

}

.icon-bg-container:hover {
    transform: scale(0.9);
    background-color: #fff;
    filter: brightness(150%);
    border-radius: 10%;
}
.hire-me-btn {
    background-color: #d3c9c9 !important;
    color: #000 !important;
}
.hire-me-btn:hover {
    background-color: #000000e6 !important;
    color: #fff !important;
}


.resume-button {
    --width: 90px;
    --height: 40px;
    --tooltip-height: 35px;
    --tooltip-width: 90px;
    --gap-between-tooltip-to-button: 18px;
    --button-color: #fff;
    --tooltip-color: #fff;
    width: var(--width);
    height: var(--height);
    background: var(--button-color);
    position: relative;
    text-align: center;
    border-radius: 5px;
    font-family: "Arial";
    transition: background 0.3s;
    border: #000 1px solid;
}

.resume-button::before {
    position: absolute;
    content: attr(data-tooltip);
    width: var(--tooltip-width);
    height: var(--tooltip-height);
    background-color: var(--tooltip-color);
    font-size: 0.9rem;
    color: #111;
    border-radius: .25em;
    line-height: var(--tooltip-height);
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
    left: calc(50% - var(--tooltip-width) / 2);
}

.resume-button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: var(--tooltip-color);
    left: calc(50% - 10px);
    bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.resume-button::after,
.resume-button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
}

.resume-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-button-wrapper,
.resume-text,
.resume-icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: #000;
    font-weight: 500;
}

.resume-text {
    top: 0
}

.resume-text,
.resume-icon {
    transition: top 0.5s;
}

.resume-icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-icon svg {
    width: 24px;
    height: 24px;
}

.resume-button:hover {
    background: #000;
    border: 1px solid #000;
}

.resume-button:hover .resume-text {
    top: -100%;
}

.resume-button:hover .resume-icon {
    top: 0;
}

.resume-button:hover:before,
.resume-button:hover:after {
    opacity: 1;
    visibility: visible;
}

.resume-button:hover:after {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.resume-button:hover:before {
    bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}

/*--------------------------  Landing Page ended here --------------------*/

/*--------------------------- Skills page started here ----------------------*/
.skills-main-bg-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: myFirstFont;
    background-image: url("https://images.unsplash.com/photo-1636955792912-de44a3ba46cd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
  
}

.skill-name-heading {
    color: #000;
    font-weight: bolder;
    text-decoration: underline;
}

.skill-names {
    text-decoration: underline;
    font-weight: bolder;

}

.container-heading1 {
    font-size: 26px;
    font-weight: 500;

}

.skill-sub-heading {
    font-size: 18px;
    font-weight: 500;


}

.skill-container {
    padding: 10px 5px;
    text-align: center;

}

.skill-buttons {
    margin: 10px 10px;
    width: 180px;
    box-shadow: 0 5px 5px #a8a6a6;
    border-width: 0 !important;
    border-radius: 25px; 
    color: white !important;
}

.buttons-container {
    display: flex;
    justify-content: space-around;

}

.skill-hr {
    height: 50vh;
    width: 3px;
    background-color: #0a0a0a;
}

.buttons-container-l {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    margin: 15px 5px;
    background: #d3c9c9b7;
    border-radius: 5px;
    box-shadow: 0 0 10px #00000042;

   
}

.buttons-container-l:hover {
    filter: drop-shadow(0 0 10px #d3c9c9b0);
}
.learning-text {
    background: #343a40;
    background: #343a40;
    color: white;
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
}

/*--------------------------  Skills Page ended here --------------------*/

/*--------------------------- About page started here ----------------------*/
.about-main-bg-container {
    margin: 0% 0;
    border-radius: 15px;
}


.about-heading-container {
    padding: 10px 0 20px 0;
}

.about-sub-container {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    border-radius: 15px;
    padding: 20px 5%;
    margin: 3% 3%;
    color: #000;
    border: 2px solid #000;
    position: relative;
    max-width: 500px;
    min-width: 350px;
    transition: all 1s;
    box-shadow: 0 0 50px #abaaaa;

}

.about-sub-container:hover {
    color: #fff !important;
    border: 2px dashed #000;

}

/*

.exp-img-bg {
    
} */
.exp-img-bg:hover {

    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 0px 10px #e1a6a6);
    background-color: #8cabd9;
    color: #f9f4f4;
    filter: grayscale(100%);
}

/*
.sports-img-bg {
    
    
}*/

.sports-img-bg:hover {
    background-image: url(../images/sports-img.png);
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0px 0px 10px #e1a6a6);
    background-color: #e1a6a6;
    color: #f9f4f4;
    filter: grayscale(100%);


}

/*
.freelancer-img-bg {

}*/
.freelancer-img-bg:hover {
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0px 0px 20px #000);
    background-repeat: no-repeat;
    background-color: #8cabd9;
    filter: grayscale(100%);
}

/*.edu-img-bg {
    
} */
.edu-img-bg:hover {
    background-image: url(../images/edu-img.png);
    background-size: contain;
    background-position: center;
    filter: drop-shadow(0px 0px 20px #000);
    background-repeat: no-repeat;
    background-color: #8cabd9;
    filter: grayscale(100%);
}

.about-sub-container:hover .step-dot {
    background: #fff !important;
}

.about-sub-container:hover .step-dot2 {
    background: #fff !important;
}

.about-sub-container:hover .step-line {
    width: 2px;
    height: 50%;
    background: linear-gradient(180deg, transparent 50%, #fff 0);
    background-size: 2px 10px;
    background-repeat: repeat-y;
}

.step-dot {
    width: 14px;
    height: 14px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    top: 28%;
    left: 10%;
}

.step-dot2 {
    width: 14px;
    height: 14px;
    background-color: #333;
    border-radius: 50%;
    position: absolute;
    bottom: 18%;
    left: 10%;
}


.step-line {
    width: 2px;
    height: 50%;
    background: linear-gradient(180deg, transparent 50%, #333 0);
    background-size: 2px 10px;
    background-repeat: repeat-y;
    position: absolute;
    top: 27%;
    left: 11.4%;
}

.about-mini-heading {
    font-size: 32px;
    font-weight: 500;

}

.about-mini-sub-container {
    line-height: 7px;

}

.anchor-element {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: all 0.5s;
}

.anchor-element:hover {
    border-radius: 5px;
}
.anchor-element-view-more {
    text-decoration: none;
    color: #00000081;
    font-weight: bold;
    transition: all 0.5s;
}
/* --------------------------------- work page Start  ------------------------------*/

.work-main-bg-container {
    height: 100%;
    margin: 1% 0;
}


.work-sub-bg-container {
    background-color: #ffffff28;
    height: 100%;
    border-radius: 15px;
    margin: 1% 8%;
    box-shadow: 0 0 10px #0000003b;
}

.my-work-preview-container {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 5% 0;
    border-radius: 15px;

    text-size-adjust: auto;
}

.work-img-bg-container {
    min-height: 190px;
    height: 200px;
    border-radius: 15px;
    background-size: cover;
    overflow: hidden;
    border: 2px solid #343a40;
    position: relative;
}

.hover-content {
    opacity: 0;
    position: absolute;
    left: 20%;
    bottom: 10%;
    padding: 10px;
    color: white;

}

.work-img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
}

.work-img:hover {
    transform: scale(1.2);
    filter: brightness(80%);

}

.work-img-bg-container:hover~.hover-content {
    opacity: 1;
    pointer-events: none;
}


/*-------------------------------- work Buttons -------------------------------*/
.work-buttons-bg-container {
    display: flex;
    justify-content: center;

}

.work-buttons {
    /*
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin: 5px;
    gap: 15px;
    background-color: transparent;
    outline: 3px #181717 solid;
    outline-offset: -3px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: 400ms;
    color: #343a40;
    font-weight: 700;
    font-size: 1em;
    height: 40px;
    max-width: 120px;
    height: 40px;
    transition: 0.5s all ease-in-out;
    */
    padding: 10px 15px;
    margin: 5px;
    border: unset;
    border-radius: 5px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 500;
    font-size: 17px;
    /*
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); */
    transition: all 350ms;
    overflow: hidden;
}

.work-buttons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 5px;
    background-color: #212121;
    z-index: -1;
    /*
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27); */
    transition: all 350ms;
}

.work-buttons:hover {

    color: #fff;
}

.work-buttons:hover::before {
    width: 100%;
}

.js-pr-list {
    list-style-type: decimal;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.js-pr-list li {
    background-color: #8cabd9;
    width: 100%;
    text-align: center;
    border: 1px solid #000;
    border-radius: 5px;
    color: #000;
    pointer-events: painted;
}

.js-pr-list li:hover {
    background-color: #ec9999 !important;
}


/* ----------------- Contact Section starting  ------------------ */
.contact-main-bg-container {

    padding: 3%;
    margin: 0 0 0 0;
}

.contact-sub-bg-container {
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}

@media (max-width: 767px) {
    .contact-sub-bg-container {
        background: url("https://images.unsplash.com/photo-1614741118887-7a4ee193a5fa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80");
        /*background: url("../template/images/exp-img2.jpg");*/
        background-size: cover;
        background-attachment: fixed;
        background-position: center center;

    }
}

@media (min-width: 768px) {
    .contact-sub-bg-container {
        background: url("../images/contact_us_bg.jpg");
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
}

.contact-mini-bg-container {
    background-color: #fff;
    margin: 5% 0;
    width: 80%;
    border-radius: 5px;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    opacity: 0.8;
}

.contact-mini-bg-container:hover {
    opacity: 1;
}


/* -------------- contact-form start------------*/
.form-text {
    width: 100%;
    margin: 2% 0 !important;

}

.form-button-bg {
    width: 100%;
    display: flex;
    justify-content: center;
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px dashed #000;
    outline: none;
    background: transparent;
}

.user-box textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    border: none;
    border-bottom: 1px dashed #000;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 15%;
    left: 15px;
    padding: 10px 0;
    font-size: 16px;
    color: #000;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus~label,
.user-box input:valid~label,
.login-box .user-box input:valid~label {
    top: -10px;
    left: 15px;
    color: #000;
    font-size: 13px;
}

.user-box textarea:focus~label,
.user-box textarea:valid~label,
.login-box .user-box input:valid~label {
    top: -10px;
    left: 15px;
    color: #000;
    font-size: 13px;
}


/* 
.user-box input[type="text"]:focus + label,
.user-box input[type="text"]:valid + label {
    transform: translateY(-24px);
    font-size: 12px;
    color: #3498db;
} */

.user-box input:focus~label,
.user-box input:valid~label,
.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -10px;
    left: 15px;
    color: #000;
    font-size: 13px;
}

.form-button-bg button {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.5em 1em;
    padding-left: 0.5em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
}

.form-button-bg button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.form-button-bg button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.form-button-bg button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.form-button-bg button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.form-button-bg button:hover span {
    transform: translateX(5em);
}

.form-button-bg button:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/*--------------- contact page ended ----------------*/
/*--------------- Footer section start ----------------*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 5vh;
    background-color: #212121;
    color: #e8e4e4;

}

.footer-bg {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:767px) {
    .footer-bg {
        font-size: x-small;
    }
}

@media (min-width: 768px) {
    .footer-bg {
        font-size: medium;
    }
}

footer span {
    font-weight: bold;
}

footer span:hover {
    text-decoration: underline;
    cursor: pointer;
}