.sports-page-main-bg {
    min-height: 100vh;
    height: 100%;
    margin: 4rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-gallery-bg {
    scale: 0.85;
    height: 70vh;
    text-align: center;
    transition: all 1s;

    color: #F8E8EE;
}

.img-gallery-bg:hover {
    filter: drop-shadow(0px 0px 10px #FFFFFA);
}

.img-gallery {
    height: 100%;
    border: 2px solid #36454F;
    transition: all 1s;
    border-radius: 5px;
    filter: grayscale(100%);
}

.img-gallery:hover {
    border: unset;
    filter: grayscale(0%);
    transform: scale(1.1);

}

@media screen and (max-width: 768px) {
    .img-gallery-bg {

        height: 50vh;


    }
}

body {
    background-color: #2A3132 !important;
}